.logo-image {
    background-image: url('/assets/img/auto-spares-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* full-screen height */
    width: 100%;
    /* full width */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.carousel {
    width: 100%;
    height: 400px;
}*/


.container .row {
    border: 1px solid #ddd;

}

.container .row .col {
    border: 1px solid #ddd;
    background-color: rgba(0, 0, 0, );
    padding: 10px;
}

.container .row .col {
    border-right: 1px solid #0000;
    border-bottom: 1px solid #0000;
}

.container .row .col:last-child {
    border-right: none;
}

.container .row:last-child {
    border-bottom: none;
}