.logo-image {
    background-image: url('/assets/img/auto-spares-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* full-screen height */
    width: 100%;
    /* full width */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.carousel {
    width: 100%;
    height: 400px;
}*/